<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <canvas id="canv" width="500" height="300"></canvas>
  
    <script src="javascripts/jquery-1.9.1.min.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/canvas.js"></script>
  </body>
</html>